$header-height: 90px;
$left-sidebar-width: 350px;
$right-sidebar-width: 350px;
$border-color: rgba(0,0,0,0.1);
$primary-color: #2ecc71;
$body-color: #34495e;
$danger-color: #e74c3c;
$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
$image-first: 'https://api.adorable.io/avatars/50/first.png';
$image-second: 'https://api.adorable.io/avatars/50/second.png';
$image-third: 'https://api.adorable.io/avatars/50/third.png';